html{
    scroll-behavior: smooth;
}
h1 {
    color:rgb(75, 56, 128);
}
img {
    max-width: 100%;
    height: auto;
}
figcaption {
    text-align: center;
}
a{
    text-decoration: none;

    
}
li{
    list-style-type: none;
}
h3 {
    color: brown;
    font-size: 20px;
}

.estilo1 {
    color: rgb(255, 99, 71);
    font-size: 20px;
    font-size: 40px;
}
.estilo3 {
    color:tomato;
    font-size: 30px;
    font-size: 60px ;
 }
.estilo1 {
    color:tomato;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
 }


.estilos5 {
    background-color: brown;
    display: inline-block;
}
button {
    background: #FFAD84;
    color: #BED754;
}
nav {
    background: #BED754;
    padding: 20px;
}
.columnas {
    background: #B99470;
    color: #362015;
    padding: 15px;
    width: 25%;
    margin: 10px;
}
.Contenedor-padre {
    display: flex;
}
body {
    background-image:url();
    color: #FFFFFF;
}